*, *::before, *::after {
	box-sizing: border-box;
}

/* Убираю дефолтный маргин */
*:not(dialog) {
	margin: 0;
}

/* Включаю кейворд анимацию */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* Увеличиваю высоту линии */
	line-height: 1.5;
	/* Улучшаю рендеринт текста */
	-webkit-font-smoothing: antialiased;
}

/* Улучшаю медиа дефолты */
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

/* Ставлю инхерит шрифт для форм контроля */
input, button, textarea, select {
	font: inherit;
}

/* Избегаю переполнения текста */
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* Улучшаю обмотку линий */
p {
	text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
}

/* Создаю основной контекст стекирования */
#root, #__next {
	isolation: isolate;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}

ul {
	display: flex;
	gap: 25px;
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: blue;
}

h2 {
	padding: 15px;
}

footer {
	padding: 15px;
}
