*, *::before, *::after {
	box-sizing: border-box;
}

/* Убираю дефолтный маргин */
*:not(dialog) {
	margin: 0;
}

/* Включаю кейворд анимацию */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* Увеличиваю высоту линии */
	line-height: 1.5;
	/* Улучшаю рендеринт текста */
	-webkit-font-smoothing: antialiased;
}

/* Улучшаю медиа дефолты */
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

/* Ставлю инхерит шрифт для форм контроля */
input, button, textarea, select {
	font: inherit;
}

/* Избегаю переполнения текста */
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* Улучшаю обмотку линий */
p {
	text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
}

/* Создаю основной контекст стекирования */
#root, #__next {
	isolation: isolate;
}

@media (max-width: 768px) {

	/* Класс разделителя */
	.dash {
		border-bottom: 1px solid #111;
		margin: 20px 0;
		opacity: 0.2;
	}

	/*Класс шапки*/
	.navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
	}

	/* Класс заголовка */
	.main-title {
		font-size: 12px;
	}

	/* Класс навигационных ссылок */
	.nav-links {
		list-style: none;
		display: flex;
		justify-content: space-around;
		gap: 1rem;
		padding: 0.4rem;
	}

	/* Класс заголовка меню */
	.menu-title {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 10px;
	}

	/* Класс элемента меню */
	.burger-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		border: 1px solid #111;
		padding: 20px;
		width: 50%;
		margin: 0 auto;
	}

	/* Класс кнопки меню */
	.menu-toggle {
		display: block;
		margin: 20px auto;
		padding: 10px 20px;
		font-size: 16px;
		cursor: pointer;
	}

	/* Класс биографии */
	.bio {
		text-align: center;
	}

	/* Класс формы заказа */
	.order-form {
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding: 20px;
	}

	/* Класс разделителя в форме */
	.dash-form {
		padding: 5px;
	}

	/* Класс кнопки отправки заказа */
	.submit-btn {
		padding: 10px;
		font-size: 16px;
		cursor: pointer;
		margin-top: 10px;
	}
}